In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("people_100_records.csv")

In [13]:
for line in df.iterrows():
    q = "insert into emp values({},'{}','{}')".format(line[1][0],line[1][1],line[1][2])
    print(q)

insert into emp values(1,'Jill Morris','Austinbury')
insert into emp values(2,'Curtis Trujillo','Kimstad')
insert into emp values(3,'Eric Sanchez','Fieldshaven')
insert into emp values(4,'Kenneth Medina','Kaitlynton')
insert into emp values(5,'Lynn Lawrence','North Tamara')
insert into emp values(6,'Leslie Tran','Ambermouth')
insert into emp values(7,'Justin Key','Ericport')
insert into emp values(8,'Melissa Salas','Katieborough')
insert into emp values(9,'Virginia Burns','Sandytown')
insert into emp values(10,'Gabrielle Morgan','West Francistown')
insert into emp values(11,'Laura Hill','East Austinton')
insert into emp values(12,'Barbara Sparks','South Nicholas')
insert into emp values(13,'Sean Richard','Medinaville')
insert into emp values(14,'Justin Greene','Gomezborough')
insert into emp values(15,'Tina Cruz','West Rachelhaven')
insert into emp values(16,'Samuel White','South Jasonberg')
insert into emp values(17,'Alex Chambers','West Kevin')
insert into emp values(18,'Anthony Jones','Kevinfurt')
insert into emp values(19,'Andrew Byrd','Port Makayla')
insert into emp values(20,'Lindsey Freeman','Samanthaburgh')
insert into emp values(21,'Samuel Rowe','Singhmouth')
insert into emp values(22,'Marissa Garcia','New Rachael')
insert into emp values(23,'Kevin Sharp','East Stacey')
insert into emp values(24,'Mary Weeks','Port Stanley')
insert into emp values(25,'Tanya Fritz','Kelleyborough')
insert into emp values(26,'Lauren Vargas','North Victoria')
insert into emp values(27,'Cynthia Mcclain','West Keith')
insert into emp values(28,'Lisa Sanders','Millershire')
insert into emp values(29,'Kyle Alvarez','Meganshire')
insert into emp values(30,'Sara Harper','South Brian')
insert into emp values(31,'Courtney Myers','Grossbury')
insert into emp values(32,'Yvonne Stevens','Stonefort')
insert into emp values(33,'Shirley Mitchell','Port Dylan')
insert into emp values(34,'Joseph Martinez','Rachelview')
insert into emp values(35,'Leslie Lynch','Foxshire')
insert into emp values(36,'Nicole Meyer','Kleinberg')
insert into emp values(37,'Melissa Martinez','Hurleyview')
insert into emp values(38,'Jamie Oconnell','North Andreville')
insert into emp values(39,'Karen Lopez','Jacksonborough')
insert into emp values(40,'Deanna Buchanan','South Patrickville')
insert into emp values(41,'Elizabeth Weaver','Snyderside')
insert into emp values(42,'Monica Gonzalez','Wilkinsside')
insert into emp values(43,'Pamela Smith','South Rebecca')
insert into emp values(44,'Derek Garcia','Rachelstad')
insert into emp values(45,'Kimberly Gregory','Port Alan')
insert into emp values(46,'Jeffrey Duncan DDS','Nicholasfort')
insert into emp values(47,'Kathy Shepherd','New Donnaville')
insert into emp values(48,'Kevin Robinson','New Ryan')
insert into emp values(49,'Susan Bentley','Williamston')
insert into emp values(50,'Dwayne Cummings','North John')
insert into emp values(51,'Susan Herman','Alexandraberg')
insert into emp values(52,'April Davidson','Perezland')
insert into emp values(53,'Samuel Coffey','Josephstad')
insert into emp values(54,'Kelly Roy','Josephfort')
insert into emp values(55,'James Thomas','East Reginaside')
insert into emp values(56,'Beth Oneal','Lake Lorraineland')
insert into emp values(57,'Andrew Koch','Crystaltown')
insert into emp values(58,'Paul Henson DDS','Robertborough')
insert into emp values(59,'Russell Ferrell','Alyssaside')
insert into emp values(60,'John Edwards','South Thomasmouth')
insert into emp values(61,'Walter Martinez','Meganmouth')
insert into emp values(62,'Victor Hanson','New Amanda')
insert into emp values(63,'Mason Powell','New Jillburgh')
insert into emp values(64,'Heather Cox','Wiseborough')
insert into emp values(65,'Phillip Knox','Morrisborough')
insert into emp values(66,'Zachary Marshall','East Jamie')
insert into emp values(67,'Carly Kim','Oconnellstad')
insert into emp values(68,'Ronald Duran','Ambertown')
insert into emp values(69,'Elizabeth Ward','Samanthaberg')
insert into emp values(70,'Wanda Lee','South Rita')
insert into emp values(71,'Henry Lopez','Zavalafort')
insert into emp values(72,'Kurt Crawford','Leemouth')
insert into emp values(73,'Isaac Sullivan','Bryantburgh')
insert into emp values(74,'Larry Garcia','North Brendaport')
insert into emp values(75,'Carol Alexander','West Nancyview')
insert into emp values(76,'William Gallegos','Gibbsmouth')
insert into emp values(77,'Christine Washington','Lake Heatherfurt')
insert into emp values(78,'Sara Hernandez','West Micheal')
insert into emp values(79,'Maureen Singleton','Lake Jon')
insert into emp values(80,'Lynn Clark','Brandistad')
insert into emp values(81,'Marcus Fields','Miguelton')
insert into emp values(82,'Ian Rodriguez Jr.','Orozcoside')
insert into emp values(83,'Blake Joseph','West Craigville')
insert into emp values(84,'Joseph Clark','Keithland')
insert into emp values(85,'Nicole Lucero','Port Randyville')
insert into emp values(86,'Darlene Garcia','Port Tammyshire')
insert into emp values(87,'Shannon Arnold','West Brooke')
insert into emp values(88,'Kristen Flynn','South Eddiechester')
insert into emp values(89,'Glenn Miller','Parkershire')
insert into emp values(90,'Natalie Anderson','North Kristinmouth')
insert into emp values(91,'Maria Rivera','South Diane')
insert into emp values(92,'Marc Kelley','Smithshire')
insert into emp values(93,'Lisa Torres','South Terri')
insert into emp values(94,'Micheal Townsend','Connerborough')
insert into emp values(95,'Michele Blevins','Omarland')
insert into emp values(96,'Kristina Andrews','Heatherfurt')
insert into emp values(97,'Jeffery Nicholson','New Nicholasmouth')
insert into emp values(98,'Steven Taylor','Lake Zachary')
insert into emp values(99,'Matthew Bowman','North Staceychester')
insert into emp values(100,'Matthew Mathis','North Angelabury')

C:\Users\AI NEXUT IT\AppData\Local\Temp\ipykernel_25408\3991307868.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  q = "insert into emp values({},'{}','{}')".format(line[1][0],line[1][1],line[1][2])

In [14]:
import uuid

In [20]:
str(uuid.uuid4()).split("-")[-1]

'7b27212f332f'